*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/

.im{
    max-width: 200px !important;
}

.n-l{
    color: white;
}
.n-l:hover{
    color: #F26C4F;
}

.b
{
    border-color:#F26C4F ;
}
.b:hover{
    background-color: #F26C4F;
}

/* about button*/

.about-bg{ width: 100%;
    
    background-color: #1c1b1b;
}
.icon{
font-size: 5rem;
color: #fff;

}
.icon:hover
{
    color: #F26C4F;
}




/*media-icons*/
.ico{
    margin-inline-start: 1rem;
    color: #1f1f1f;
    background: #fff; 
    font-size:1.5rem;
    border-radius: 50%;
    line-height: 2.2em;
    width: 2.1em;
    height: 2.1em;
    text-align: center;
    display: inline-block;
}

.ico:hover {
    color: #F26C4F;
   
}

